#header{
    width: 100%;
    height: 54px;
    margin-bottom: 12px;
    background-color: rgb(0, 26, 113);
}
body{
    margin: 0;
    padding: 0;
}
.headerIMG{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}
.headerIMG .navIMG{
    display: flex;
    height: 44px;
    margin: 5px;
    object-fit: scale-down;
    filter: contrast(0%) brightness(200%);

}
#MapFrame{
    display: flex;
    justify-content: center;
    margin: auto;
}